<div class="header-top">
  <div class="dropdown closed">
    <div class="icon"><%=PAGE_CONTENT.header.dropdown[0]%> <span><%=PAGE_CONTENT.header.dropdown[1]%></span></div>
        <ul class="menu">
            <!-- <li><% typeof langList %></li> -->
            <% if(langList ){ %>
                <%langList.forEach(lang => {%>
                    <li>
                        <a href='#<%=lang.code%>'><%=lang.name%></a>
                    </li>
                <%})%>
            <% } else{ %>  
                <li>Google translate API license is missing</li>
            <% } %>
        </ul>  
  </div>

  <div class="header-top__social">
      <%PAGE_CONTENT.header.social.forEach(elem => {%>
          <a class="header-top__link" href="<%=elem.href%>" target="_blank"><%=elem.name%></a>
      <%})%>
  </div>

  <div class="header-top__icons">
      <%PAGE_CONTENT.header.social.forEach(elem => {%>
          <a class="header-top__item" href="<%=elem.href%>" target="_blank">
              <svg class="header-top__icon">
                  <use xlink:href="#<%=elem.name%>"></use>
              </svg>
          </a>
      <%})%>
  </div>
</div>

<div class="header-bottom">
  <a href="/">
    <img class="header-bottom__logo" src="assets/images/header-logo.png" alt="fashion logo">
  </a> 
  <nav class="header-bottom__nav">
      <%PAGE_CONTENT.header.menu.forEach(elem => {%>
          <a class="header-bottom__link" id="<%=elem.id%>" href="<%=elem.href%>"><%=elem.name%></a>
      <%})%>
  </nav>

   <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox">
      <label class="menu__btn" for="menu__toggle">
          <span></span>
      </label>
      <ul class="menu__box">
          <%PAGE_CONTENT.header.menu.forEach(elem => {%>
              <li><a class="menu__item" href="<%=elem.href%>"><%=elem.name%></a></li>
          <%})%>
      </ul>
  </div>
</div>