<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <div class="wrapper">
        <svg style="display: none;">
            <%- include('./partials/svgs') %>
        </svg>

        <div class="page-container">
            <header>
                <%- include('./partials/header') %>
            </header>
            
            <div class="collection">
                <div class="collection__left">
                    <img class="collection__image" src="assets/images/image-1.jpg" alt="photo">
                    <a class="collection__link" href="<%=PAGE_CONTENT.collectionSection.collectionLink.href%>"><%=PAGE_CONTENT.collectionSection.collectionLink.name%></a>
                </div>
                <div class="collection__right">
                    <div class="collection__subtext">
                        <p><%=PAGE_CONTENT.collectionSection.collectionSubtext.date%></p>
                        <p><%=PAGE_CONTENT.collectionSection.collectionSubtext.text%></p>
                    </div>
                    <div class="collection__text">
                        <%PAGE_CONTENT.collectionSection.collectionText.forEach(elem => {%>
                            <p><%=elem%></p>
                        <%})%>
                    </div>
                    <img class="collection__image" src="assets/images/image-2.jpg" alt="photo">
                </div>
            </div>
    
            <div class="about">
                <div class="container">
                    <h2 class="about__title"><%=PAGE_CONTENT.about.title%></h2>
                    <div class="about__inner">
                        <div class="about__items">
                            <div class="about__text">
                                <%=PAGE_CONTENT.about.text%>
                            </div>
                            <a class="about__link" href="<%=PAGE_CONTENT.about.link.href%>"><%=PAGE_CONTENT.about.link.name%></a>
                    </div>
                    <div class="about__image">
                        <img class="about__photo" src="assets/images/image-3.jpg" alt="photo">
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="description">
                <div class="description__inner">
                    <div class="description__title">
                        <p><%=PAGE_CONTENT.description.title[0]%></p>
                        <p><%=PAGE_CONTENT.description.title[1]%></p>
                    </div>
                    <div class="description__text">
                        <%PAGE_CONTENT.description.text.forEach(elem => {%>
                            <p><%=elem%></p>
                        <%})%>
                    </div>
                    <a class="description__link" href="<%=PAGE_CONTENT.description.link.href%>"><%=PAGE_CONTENT.description.link.name%></a>
                </div>
                <div class="description__image">
                <img class="description__photo" src="assets/images/image-4.jpg" alt="photo">
                </div>
            </div>
            
            <div class="presentation">
                <h2 class="presentation__title"><%=PAGE_CONTENT.presentation.title%></h2>
                <div class="presentation__inner">
                    <div class="presentation__text">
                        <p><%=PAGE_CONTENT.presentation.text[0]%></p>
                        <p><%=PAGE_CONTENT.presentation.text[1]%></p>
                        <a class="presentation__link" href="<%=PAGE_CONTENT.presentation.link.href%>"><%=PAGE_CONTENT.presentation.link.name%></a>
                    </div>
                </div>
            </div>
            
            <div class="newsletter">
                <div class="container">
                <div class="newsletter__inner">
                        <div class="newsletter__content">
                            <h2 class="newsletter__title"><%=PAGE_CONTENT.newsletter.title%></h2>
                            <div class="newsletter__text">
                                <%PAGE_CONTENT.newsletter.text.forEach(elem => {%>
                                    <p><%=elem%></p>
                                <%})%>
                            </div>
                        </div>
                        <div class="newsletter__items">
                            <form class="newsletter__form" action="/" method="post">
                                <input class="newsletter__input" type="email" name="email" placeholder="<%=PAGE_CONTENT.newsletter.emailPlaceholder%>">
                            </form>
                            <button class="newsletter__btn" type="submit"><%=PAGE_CONTENT.newsletter.button%></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="stores">
                <div class="container">
                    <h2 class="stores__title"><%=PAGE_CONTENT.stores.title%></h2>
                    <div class="stores__inner">
                        <%PAGE_CONTENT.stores.cities.forEach(elem => {%>
                            <address class="stores__items">
                                <p class="stores__city"><%=elem.name%></p>
                                    <%elem.address.forEach(i => {%>
                                        <p class="stores__address">
                                            <%=i%>
                                        </p>
                                    <%})%>
                                <a class="stores__address" href="<%=elem.link.href%>"><%=elem.link.name%></a>
                            </address>
                        <%})%>
                    </div>
                </div>
            </div>
            
            <div class="contact" id="modal">
                <div class="container-modal">
                    <button class="button-close-modal">&#x2715</button>
                    <h2 class="contact__title"><%=PAGE_CONTENT.contact.title%></h2>
                    <div class="contact__inner">
                        <div class="contact__text"><%=PAGE_CONTENT.contact.text%></div>
                        <div class="contact__items">
                            <form class="contact__form" id="contact__form" action="/writeContactFormData" method="post">
                                <input class="contact__input" type="text" name="name" placeholder="<%=PAGE_CONTENT.contact.formPlaceHolders[0]%>" required>
                                <input class="contact__input" type="email" name="email" placeholder="<%=PAGE_CONTENT.contact.formPlaceHolders[1]%>" required>
                                <textarea class="contact__textarea" name="message" placeholder="<%=PAGE_CONTENT.contact.formPlaceHolders[2]%>" required></textarea>
                                <button class="contact__btn" type="submit"><%=PAGE_CONTENT.contact.button%></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <footer class="footer">
                <%- include('./partials/footer') %>
            </footer>
        </div>
    </div>
    <script src="assets/js/app.js"></script>
        <script type="text/javascript">
            async function getData (url = '') {
                return fetch(url)
                    .then(response => response.json())
                    .then(data => data)
            }
        
            async function postData(url = '', data = {}) {
                const response = await fetch(url, {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(data)
                });
                return await response.json();
            }

            const container = document.getElementsByClassName('page-container')
            const allTags = container[0].querySelectorAll('*')
            const menu = document.querySelector('.menu')

            const allTagsWithText = Object.values(allTags).filter(element => {
                if (menu.contains(element)) {
                    return false
                }
                if (element.text || element.innerText && element.children.length == 0) {
                    return true
                } 
            })  

            const targetElementsArray = allTagsWithText.map(element => { 
            if (element.innerText) {
                return element.innerText 
            }  
            if (element.text) {
                return element.text 
            }  
            })
        
            function closeModal() {
                modal.style.display = "none"
                body.style.overflow = ""
            }    

            const about = document.querySelector('.about')
            const collection = document.querySelector('.collection')
            const headerContact = document.getElementById('contact')
            const footerContact = document.getElementById('footer_contact')
            const modal = document.getElementById('modal')
            const body = document.querySelector('body')
            const headerNewCollection = document.getElementById('new_col')
            const footerNewCollection = document.getElementById('footer_new_col')
            const headerAbout = document.getElementById('about')
            const footerAbout = document.getElementById('footer_about')
            const buttonCloseModal = document.querySelector('.button-close-modal')
                    
            function toNewCollection () {
                event.preventDefault()
                collection.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"})
            } 

            headerNewCollection.addEventListener("click", toNewCollection)
            footerNewCollection.addEventListener("click", toNewCollection)

            function toAbout () {
                event.preventDefault()
                about.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"})
            } 
            
            headerAbout.addEventListener("click", toAbout)
            footerAbout.addEventListener("click", toAbout)

            function showModal () {
                event.preventDefault()
                modal.style.display = "block"
            }

            headerContact.addEventListener("click", showModal)
            footerContact.addEventListener("click", showModal)

            buttonCloseModal.addEventListener("click", closeModal)
            modal.addEventListener("click", event => {
                if (event.target === modal) {
                    closeModal()
                }
            })

            window.addEventListener( "load", function () {
            function sendData() {
                const XHR = new XMLHttpRequest();
                const FD = new FormData( form );

                XHR.addEventListener( "load", function(event) {                
                });

                XHR.addEventListener("error", function(event) {
                alert('Oops! Something went wrong.');
                });

                XHR.open("POST", "http://localhost:3001/writeContactFormData");
                XHR.setRequestHeader("Content-type", "application/json;charset=UTF-8");
                let convertedJSON = {};
                    for (const [key, value]  of FD.entries())
                    {
                        convertedJSON[key] = value;
                    }
                    console.log(convertedJSON)

                XHR.send(JSON.stringify(convertedJSON));
            }

            const form = document.getElementById("contact__form");
            
            form.addEventListener( "submit", function (event) {
                    event.preventDefault();
                    sendData();
                    form.reset();
                    closeModal()
                } );
            } );

            const translatePageText = lang => {
                postData(
                    'http://localhost:3001/translate', 
                    {
                        "text": targetElementsArray, 
                        "lang": lang 
                    }
                )
                .then((translatedTextArray) => {
                        allTagsWithText.forEach((element, index) => {
                        element.text = translatedTextArray[index]
                        element.innerText = translatedTextArray[index]
                    })    
                });
            }
        </script>        
</body>
</html>
